
*{
    margin: 0;
    padding: 0;

}


h1 {
	color: aqua;
	font-size: 30px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding-top: 50px;
}
span{
    color: black;
}
.box {
	background-color: aqua;
	height: 300px;
	width: 100%;
	display: flex;
}
.heading{
    width: 50%;
}
.box-1 {
	height: 117px;
	background-color: #1d5689;
	width: 161px;
	padding: ;
	margin: 20px;
	border: 3px solid white;
	border-radius: 5px;
}
.container {
	padding: 0 100px;
	background-color: antiquewhite;
}
.img-1 {
	width: 10px;
	padding: 10px 0 0px 20px;
}
h4 {
	margin: 0px 0 0 12px;
	color: white;
    font-family: Rubik Maps
    ;
}
.font{
    font-family: Rubik Doodle Shadow
    ;
}